@model MVC_2.Models.Scarpa
@using MVC_2.Models;

@{
    ViewBag.Title = "Details";
    var utente = Session["Utente"] as Utente;
}

<h2>Details</h2>
@if (utente != null && utente.TipoUtente)
{
    using (Html.BeginForm("Details", "Home", new { productId = Model.IdScarpa }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Aggiungi Immagine</h4>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" name="ImmagineXtra" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Img" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdScarpa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.IdScarpa)
            <img id="mainImg" class="imgThumbnail" src="@Url.Content(Model.ImmagineCopertina)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Prezzo)
        </td>
        @if (utente != null && utente.TipoUtente)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.IdScarpa }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.IdScarpa })
            </td>
        }
    </tr>
</table>
<div class="row flex-wrap">
    @foreach (var item in Model.ListaImmagini)
    {
        <div class="col-auto">
            <img src="@Url.Content(item.PercorsoImmagine)" class="imgThumbnail xtra" />
            @if (utente != null && utente.TipoUtente)
            {
                <p>
                    @Html.ActionLink("Delete", "DeleteImgExtra", new { id = item.IdImmagine, productId = Model.IdScarpa })
                </p>
            }
        </div>
    }
</div>
@if (utente != null && utente.TipoUtente)
{
    <button id="buttonChangeImg" class="btn btn-primary">Set Default</button>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (utente != null && utente.TipoUtente)
    {
        <script>
    $(document).ready(function () {

        $(".xtra").click(function () {
        $(".xtra").removeClass("selected");
        $(this).addClass("selected");
        });

        $("#buttonChangeImg").click(function(){
            let idScarpa = @Model.IdScarpa;
            let nuovaImmagineCopertina = $(".selected").attr("src");
            console.log(nuovaImmagineCopertina);

            fetch('/Home/UpdateCoverImage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    idScarpa: idScarpa,
                    nuovaImmagineCopertina: nuovaImmagineCopertina
                }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data) {
                        $("#mainImg").attr("src", nuovaImmagineCopertina);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        })

        });
        </script>
    }
}
