@model IEnumerable<MVC_2.Models.Scarpa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



    <div class="row flex-wrap">
        @foreach (var prodotto  in Model)
        {
            <div class="col">

                <div class="card">
                    <img class="card-img-top" style="height:250px" src="@Url.Content(prodotto.ImmagineCopertina)" />
                    <div class="card-body">
                        <p class="card-text mb-0">@prodotto.Nome</p>
                        <p class="card-text font-monospace">@prodotto.Prezzo &euro;</p>
                        @Html.ActionLink("Details", "Details", new { id = prodotto.IdScarpa })
                    </div>
                </div>
            </div>
        }
    </div>

                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
               @*@Html.ActionLink("Details", "Home", new { id = item.IdScarpa }) @*|*@
                @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@


